<form action="/favoritedetails" method="post">
<div class="bgcss">

	<p>Name:<input type="text" name="name"></p></h2>

	<p>Age:<input type="text" name="age"></p>

	<p>Three Favorite Numbers:<input type="text" name="fav_num"><input type="text" name="second_fav_num"><input type="text" name="third_fav_num"></p>

	<p>Favorite Color:<input type="text" name="fav_color"></p>

	<p>Favorite Sports Team:<input type="text" name="fav_team"></p>

	<p>Favorite Athlete:<input type="text" name="fav_player" class="boxcss"></p>

	<input type="submit" name="Just Do It!">
	</form></div>
	<p><table></p>
		<thead>
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>1st Favorite Number</th>
				<th>2nd Favorite Number</th>
				<th>3rd Favorite Number</th>
				<th>Favorite Color</th>
				<th>Favorite Sports Team</th>
				<th>Favorite Athlete</th>
			</tr>
		</thead>
		<tbody>
			<%favoritedetails.each do |fav|%>
			<tr>
				<td><%=fav["name"] %></td>
				<td><%=fav["age"] %></td>
				<td><%=fav["fav_num"] %></td>
				<td><%=fav["second_fav_num"] %></td>
				<td><%=fav["third_fav_num"] %></td>
				<td><%=fav["fav_color"] %></td>
				<td><%=fav["fav_team"] %></td>
				<td><%=fav["fav_player"] %></td>
			</tr>
			<%end%>
		</tbody>
	</table>

	<form action= "/update_column" method= "post">
  		
  		<select name="table_column">


  	<option value='name'>Name</option>
		<option value='age'>Age</option>
		<option value='fav_num'>1st Favorite Number</option>
		<option value='second_fav_num'>2nd Favorite Number</option>
		<option value='third_fav_num'>3rd Favorite Number</option>
		<option value='fav_color'>Favorite Color</option>
		<option value='fav_team'>Favorite Sports Team</option>
		<option value='fav_player'>Favorite Athlete</option>
	</select>
	<br>

<div class="bgcss">
	New Input: <input type="text" name="new_data"><br>
	Current Input: <input type="text" name="old_data"><br>
	   <input type="submit" value="Update">
	   </form>

   
   <form action='/delete_all' method='post'>
   	<input type = "submit" value = "Delete Data">
   </form></div>
